@import './_var'
@import './_function'

*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
input
textarea
  -webkit-user-select auto /*webkit浏览器*/
  margin 0px
  padding 0px
  outline none
input
  border-top-left-radius 0
  border-top-right-radius 0
  border-bottom-right-radius 0
  border-bottom-left-radius 0
  &::-webkit-input-placeholder
    color rs_red
ul
  list-style none
  margin 0
  padding 0
p
  margin 0
.dib
  display inline-block !important
.vh
  visibility hidden
.btn
  cursor pointer
  border-radius 200px
.mint-indicator-text
  font-size px2rem(32)
.mint-toast-text
  font-size px2rem(24) !important
.page-infinite-loading .mint-spinner-fading-circle
  display inline-block
  vertical-align middle
  margin-top px2rem(-5)
  margin-right px2rem(20)
.btn--confirm
.btn--share
  width px2rem(170)
  height px2rem(60)
  line-height px2rem(60)
  margin-left auto
  border px2rem(3) solid tealer_blue
  color #fff
  background-color teal_blue
  text-align center
.btn--confirm
  width px2rem(110)
  border px2rem(3) solid dark_black
  color dark_black
  background-color orange_yellow
.iconfont.icon-share
  font-size px2rem(27)
  margin-right px2rem(10)
.bgc-0
.color--blue
  background-color bg_green
.bgc-1
.color--purple
  background-color bg_purple
.bgc-2
.color--green
  background-color grassy_green
.bgc-3
.color--brown
  background-color bg_khaki
img[lazy=loading]
  width 40px
  height 300px
  margin auto
.color--blueypurple
  background-color bluey_purple
.color--tomatored
  background-color tomato_red
.color--nastygreen
  background-color nasty_green
.color--eggyellow
  background-color egg_yellow
.mint-indicator-wrapper
  z-index 400
.mint-toast-text
  font-size px2rem(14) !important