dark_black = #10181d
orange_yellow = #ffc80a
grassy_green = #519301
almost_black = #0f181c
dark_slate_blue = #1a3f52
teal_blue = #0094b5
tealer_blue = #3a70a1
slate_two = #3f5e6e
bg_grey = #f3f6f8
mix_grey = #819aa0
bg_green = #079e95
bg_purple = #721fac
bg_khaki = #ab6a22
text_holder = #93aaaf
soft_red = #ff9eb1
real_red = #fff4f8
deep_red = #f85d7c
deep_blue = #5d3c5d
rol_purple = #bf6598
rs_dark = #7f131a1e
rs_red = #ffc2c5